* {
  margin: 0;
  padding: 0;
  font-family: Source Code Pro;
}

nav {
  position: fixed;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem 0 6rem 0;
  background: rgb(28, 45, 61, 0.9);
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  color: white;
  font-size: 24px;
  margin-left: 6rem;
  text-decoration: none;
  font-weight: bold;
}

nav ul {
  margin-right: 6rem;
  display: flex;
  list-style: none;
}

nav ul li {
  position: relative;
  margin-left: 50px;
  padding: 23.5px 0 23.5px 0;
}

nav ul li .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: -20%;
  background-color: rgb(28, 45, 61, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul li:hover .dropdown {
  display: block;
}

.dropdown button {
  display: block;
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.home {
  background-image: url(img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.home::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(28, 45, 61, 1) 8%,
    rgb(255, 255, 255, 0) 50%
  );
}

h1 {
  color: #ffff;
  font-size: 42px;
  margin-left: 6rem;
}

.internet {
  height: auto;
  background-color: rgb(28, 45, 61, 1);
  color: white;
  padding: 2rem 6rem;
  padding-top: calc(2rem + 70px);
}

.internet h2 {
  font-size: 24px;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.internet p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.internet a {
  color: rgb(0, 102, 204);
  text-decoration: none;
}

.internet a:hover {
  text-decoration: underline;
}

.https {
  height: auto;
  background-color: rgb(255, 255, 255);
  color: rgb(28, 45, 61);
  padding: 2rem 6rem;
  padding-top: calc(2rem + 70px);
}

.https h2 {
  font-size: 24px;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgb(28, 45, 61);
}

.https p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.https ul {
  margin-left: 1.5rem;
}

.https ul li {
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.https a {
  color: rgb(0, 102, 204);
  text-decoration: none;
}

.https a:hover {
  text-decoration: underline;
}

.domain {
  height: 100vh;
  background-color: rgb(28, 45, 61, 1);
  color: rgb(255, 255, 255);
  padding: 2rem 6rem;
  padding-top: calc(2rem + 70px);
  text-align: left;
}

.domain h2 {
  font-size: 24px;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
}

.domain p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.domain a {
  color: rgb(0, 102, 204);
  text-decoration: none;
}

.domain a:hover {
  text-decoration: underline;
}

.hosting {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  color: rgb(28, 45, 61);
  padding: 2rem 6rem;
  padding-top: calc(2rem + 70px);
  text-align: left;
}

.hosting h2 {
  font-size: 24px;
  margin-bottom: 1rem;
  color: rgb(28, 45, 61);
  border-bottom: 2px solid rgb(28, 45, 61);
}

.hosting p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.hosting a {
  color: rgb(0, 102, 204);
  text-decoration: none;
}

.hosting a:hover {
  text-decoration: underline;
}

.dns {
  height: 100vh;
  background-color: rgb(28, 45, 61, 1);
  color: rgb(255, 255, 255);
  padding: 2rem 6rem;
  padding-top: calc(2rem + 70px);
  text-align: left;
}

.dns h2 {
  font-size: 24px;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
}

.dns p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.dns a {
  color: rgb(0, 102, 204);
  text-decoration: none;
}

.dns a:hover {
  text-decoration: underline;
}

.browser {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  color: rgb(28, 45, 61);
  padding: 2rem 6rem;
  padding-top: calc(2rem + 70px);
  text-align: left;
}

.browser h2 {
  font-size: 24px;
  margin-bottom: 1rem;
  color: rgb(28, 45, 61);
  border-bottom: 2px solid rgb(28, 45, 61);
}

.browser p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.browser a {
  color: rgb(0, 102, 204);
  text-decoration: none;
}

.browser a:hover {
  text-decoration: underline;
}
